@use "@//scss/mixin.scss" as mixin;
@use "@//scss/typography.scss" as type;

.Related_posts {
  width: 30%;
  position: sticky;
  top: 10%;
  align-self: flex-start;
  z-index: 10;

  h2 {
    font-size: type.$h4;
  }
  ul {
    li {
      color: mixin.$black;
      padding: 0.2em 0;
      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @include mixin.responsive(880px) {
    width: 100%;
    position: relative;
    top: auto;
  }
}
