@use "@/scss/mixin.scss" as mixin;

.skeleton_shop {
  max-width: 15em;
  margin-right: 1em;
  width: 100%;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em 0.5rem;
  padding-top: 0;
  .title_mobile {
    height: 2.2em;
    padding: 1rem 0.5rem;
    width: 100%;
    margin-top: 1em;
    background-color: mixin.$skeleton-white;
  }
  .title {
    height: 2.2em;
    padding: 1rem 0.5rem;
    width: 100%;
    margin-top: 1em;
    background-color: mixin.$skeleton-white;
    @include mixin.responsive($max: 767px) {
      display: none;
    }
  }
}
